@import "_nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&display=swap");

:root {
	--font-family: "Montserrat", sans-serif;
	--color1: rgba(255, 255, 255, 1);
	--color2: rgba(110, 185, 252, 1);
	--color3: rgba(173, 24, 24, 1);
	--color4: rgba(37, 40, 51, 1);
	--color5: rgba(47, 51, 67, 1);
}
img {
	max-width: 100%;
}

body {
	font-family: var(--font-family);
	background-color: var(--color4);
}

h1 {
	font-family: var(--font-family);
}
.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	//border: 1px solid #000;
}

.flex {
	display: flex;
}
.cont {
	margin-bottom: 50px;
	
}
.wrap {
	max-width: 55%;
}

.number {
	font-size: 34px;
	color: var(--color1);
	border: 1px solid var(--color5);
	background-color: var(--color5);
	border-radius: 5px;
	padding: 20px;
}
.title {
	font-size: 40px;
	font-weight: 700;
	color: var(--color2);
}

.descr {
	font-size: 26px;
	color: var(--color1);
	line-height: 1.5;
}

.link {
	display: inline-block;
	background-color: var(--color1);
	color: var(--color4);
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	font-size: 26px;
	font-weight: 700;
	transition: all 0.3s ease;
}

.link:hover {
	background-color: var(--color2);
	color: var(--color1);
}

.recodr {
  display: flex;
  justify-content: center;
  align-items: center;
	margin-bottom: 50px;
}
.subtitle {
	
	font-size: 34px;
	font-weight: 600;
	color: var(--color2);
}

// отедльные блоки
.main-cont {
	display: flex;
	gap: 20px;
}

.main-wrap {
	display: flex;	
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center;   
}

.main-title {	
	margin-bottom: 50px;
}

.main-flex {
	margin-bottom: 50px;
}

.condition-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.condition-wrap {
  max-width: 48%;
}
.conditions-title{
	margin-bottom: 30px;
}

.condition-item {
	margin-top: 20px;
  margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	max-width: 90%;
}

.condition-number, .condition-subtitle {
  display: inline-block;
}

.condition-number {
  font-size: 24px;
  margin-right: 10px;
}

span.span-number {
  padding: 20px;
  background-color: var(--color5);
  border-radius: 5px;
	margin-right: 20px ;
}

.conditions-subtitle {
  font-size: 30px;
  font-weight: bold;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.item.condition-item:last-child {
	max-width: 65%;
}

.condition-descr {
  width: 100%;
}

.condition-link {
	margin-left: 80px;
}

.condition-descr {
	margin-left: 80px;
	margin-bottom: 40px;
}
.reward-cont {
	display: flex;
	margin: 0 auto;
	gap: 50px;
	//border: 1px solid #000;
	margin-bottom: 50px;
}
.reward-title {
	max-width: 100%;
	margin-bottom: 50px;
}
.block {
	text-align: center;
	//border: 1px solid rgb(9, 164, 48);
}

.reward-subtitle {
	margin: 0;
	margin-bottom: 30px;
}

.application-cont {
	display: flex;
	flex-direction: column;
	max-width: 90%;
	margin: 0 auto;
	border: 1px solid var(--color2);
	border-radius: 5px;
	margin-bottom: 50px;
}
.application-title {
	margin-bottom: 50px;
}
.table {
	display: flex;
	justify-content: space-between;
}
.aplication-table {
	border: 1px solid var(--color2);
}
.table-item {
	padding: 20px;
	font-size: 26px;
	color: var(--color1);
	max-width: 50%;
	text-align: end;
}
.app-item {
	display: flex;
}
.app-link{
	font-size: 48px;
}

.time-cont {
	max-width: 90%;
	margin: 0 auto;
	margin-bottom: 50px;
}
.time-title {
	margin-bottom: 50px;
}
.map {
	display: flex;
	border: 2px solid var(--color2);
	border-radius: 5px;
	gap: 20px;
}
.time-map {
	padding: 30px;
	position: relative;
}
.time-number {
	margin-bottom: 20px;
}
.block {
	align-items: center;
}

.time-block {
	max-width: 35%;
}

.time-subtitle {
	//border: 1px solid #000;
	text-align: center;
	margin: 0;
	margin-bottom: 20px;
}
.time-descr {
	margin-bottom: 15px;
}
.end-cont {
	display: flex;
	margin-top: 100px;
}
.end-wrap {
	display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center;   
}
.end-title {
	margin-bottom: 30px;
	text-align: center;
}
.end-descr {
	max-width: 80%;
	margin: 0 auto;
}

.reward-img {
	max-width: 100%;
	margin-bottom: 30px;
}
.end-img {
	max-width: 40%;
}

//форма

#show-form {
  display: block;
  margin: 0 auto;
  background-color: var(--color1);
  color: var(--color4);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
}

#show-form:hover {
  background-color: var(--color2);
  color: var(--color1);
  transform: translateY(-2px);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.form-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 9999;
}


.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  padding: 20px;
  background-color: var(--color4);
	border-radius: 5px;
}
.form-subtitle{
	margin-bottom: 20px;
}

.comand{
	font-size: 26px;
	color: var(--color1) ;
}
  .cancel {
    background-color: var(--color5);   
    color: var(--color1); 
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


.form-container input[type=text], .form-container textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

.form-container button[type=submit] {
  background-color: var(--color1);
  color: var(--color4);
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.form-container button[type=submit]:hover {
  background-color: var(--color2);
}






@media (max-width: 992px) {
	.number {
		padding: 15px;
	}	
	.reward-cont {
		gap: 20px;
	}
	.item.condition-item:last-child {
		max-width: 78%;
	}
	.end-wrap {
		text-align: center;
	}
	.form-container {
		width: 100%;
		padding: 10px;
	}
	
	.form-container input[type=text], .form-container textarea {
		width: 100%;
		padding: 8px;		
	}
}
	
	@media (max-width: 887px) {
		.main-img {
			max-width: 50%;
		}
		.conditions-img {
			max-width: 50%;
		}
		.form-container {
			width: 100%;
			padding: 10px;
		}
		
		.form-container input[type=text], .form-container textarea {
			width: 100%;
			padding: 8px;		
		}
	}

@media (max-width: 768px) {
	.main-img {
		max-width: 100%;
		content: url(../img/head3.jpg);
	}
	.conditions-img {
		max-width: 100%;
		content: url(../img/Image_005_2.jpg);
		margin-bottom: 30px;
	}
	.reward-img {
		max-width: 70%;
	}
	.end-img {
		max-width: 100%;
		content: url(../img/end1.jpg);
		margin-bottom: 30px;
	}
	.cont {
		flex-direction: column;
	}
	.wrap {
		max-width: 100%;
	}
	
	.cont {
		display: flex;
		margin-bottom: 40px;
	}
	.number {
		font-size: 22px;
		padding: 10px;
	}
	.link {
		padding: 20px;
	}

	.main-title {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.main-descr {
		max-width: 90%;
		margin: 0 auto;
	}
	.main-flex {
		margin-bottom: 0px;
	}

	.condition-wrap {
		max-width: 100%;
		display: flex;
    flex-direction: column;		
	}
	.item.condition-item:last-child {
		margin-top: auto;
		margin-bottom: auto;
	}

	.condition-flex {
		flex-direction: column-reverse;
	}

	.condition-item:last-child{
		align-items: center;
	} 
	.item.condition-item:last-child {
		max-width: 100%;
	}

	.condition-link {
		display: block;
		max-width: 50%;
		text-align: center;
		margin: 0 auto;
	}

	.reward-cont {
		max-width: 90%;
		margin: 0 auto;
		flex-direction: column;
		margin-bottom: 50px;
	}
	.reward-descr {
		text-align: center;
	}

	.conditions-cont {
		max-width: 100%;
		margin: 0 auto;
	}
	.conditions-title {
		max-width: 100%;
		margin: 0 auto;
		margin-bottom: 20px;
		text-align: center;
	}
	

	.condition-descr {
		margin-bottom: 20px;
		max-width: 100%;
	}

	.reward-title {
		max-width: 100%;
		margin-top: 50px;
		margin-bottom: 50px;
		text-align: center;
	}
	.reward-subtitle {
		margin: 0;
		margin-bottom: 40px;
	}

	.application-title {
		text-align: center;
	}	

	.map {
		flex-direction: column;
		height: auto;
	}
	.time-map {
		padding: 10px;
	}
	.time-block {
		max-width: 100%;
	}
	.table {
		flex-direction: column;
		align-items: center;
	}

	.table-item {
		font-size: 26px;
		padding: 10px;
		max-width: 100%;
		text-align: center;
	}

	.time-subtitle {
		font-size: 26px;
		margin-bottom: 10px;
	}
	.time-descr {
		font-size: 26px;
		margin-bottom: 10px;
	}
	.time-number {
		max-width: 80%;
		margin: 0 auto;
		margin-bottom: 15px;
		background-color: var(--color5);
	}
	.end-cont {
		flex-direction: column;
	}
	.end-block {
		margin-top: 0;
	}
	.end-descr {
		max-width: 90%;
		margin-bottom: 40px;
	}
	.end-cont {
		margin-top: 0;
	}
	.end-wrap {
		margin-top: 0;
	}
	.form-container {
		width: 100%;
		padding: 10px;
	}
	
	.form-container input[type=text], .form-container textarea {
		width: 100%;
		padding: 8px;		
	}
}

@media (max-width: 480px) {
	.container {
		max-width: 100%;
		padding: 0 10px;
	}

	.main-img {
		max-width: 100%;
		content: url(../img/head3.jpg);
	}
	.conditions-img {
		max-width: 100%;
		content: url(../img/Image_005_2.jpg);
		margin-bottom: 30px;
	}
	.reward-img {
		max-width: 70%;
	}
	.end-img {
		max-width: 100%;
		content: url(../img/end1.jpg);
		margin-bottom: 30px;
	}
	.cont {
		flex-direction: column;
	}
	.wrap {
		max-width: 100%;
	}

	.title {
		font-size: 34px;
		line-height: 1.3;
		text-align: center;
	}
	
	.descr {
		font-size: 20px;
		line-height: 1.8;
	}
	.cont {
		display: flex;
		margin-bottom: 40px;
	}
	.number {
		font-size: 22px;
		padding: 10px;
	}
	.link {
		padding: 20px;
	}

	.main-title {
		
		margin-bottom: 30px;
	}
	.main-descr {
		max-width: 90%;
		margin: 0 auto;
	}
	.main-flex {
		margin-bottom: 0px;
	}

	.condition-wrap {
		max-width: 100%;
	}
	.condition-flex {
		flex-direction: column-reverse;
	}
	.condition-link {
		display: inline-block;
		max-width: 100%;
		text-align: center;
		margin: 0 auto;
	}

	.reward-cont {
		max-width: 90%;
		margin: 0 auto;
		flex-direction: column;
		margin-bottom: 50px;
	}
	.reward-descr {
		text-align: center;
	}

	.conditions-cont {
		max-width: 100%;
		margin: 0 auto;
	}
	.conditions-title {
		max-width: 100%;
		margin: 0 auto;
		margin-bottom: 20px;
		text-align: center;
	}
	

	.condition-descr {
		margin-bottom: 20px;
		align-items: center;
	}

	.reward-title {
		max-width: 100%;
		margin-top: 50px;
		margin-bottom: 50px;
		text-align: center;
	}
	.reward-subtitle {
		margin: 0;
		margin-bottom: 40px;
	}

	.application-title {
		text-align: center;
	}
	.table-item {
		font-size: 14px;
		max-width: 40%;
	}

	.map {
		flex-direction: column;
		height: auto;
	}
	.time-map {
		padding: 10px;
	}
	.time-block {
		max-width: 100%;
	}
	.table {
		flex-direction: column;
		align-items: center;
	}

	.table-item {
		padding: 10px;
		max-width: 100%;
		text-align: center;
	}

	.time-subtitle {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.time-descr {
		font-size: 16px;
		margin-bottom: 10px;
	}
	.time-number {
		max-width: 80%;
		margin: 0 auto;
		margin-bottom: 15px;
		background-color: var(--color5);
	}

	.end-cont {
		flex-direction: column;
	}
	.end-block {
		margin-top: 0;
	}
	.end-descr {
		max-width: 90%;
		margin-bottom: 40px;
	}
	.end-cont {
		margin-top: 0;
	}
	.form-container {
    width: 90%;
    padding: 10px;
  }

  .form-container input[type=text], .form-container textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
  }

  .form-container button[type=submit] {
    padding: 10px 16px;
    font-size: 16px;
  }

  .cancel {
    padding: 10px 16px;
    font-size: 16px;
  }
	
}

@media (max-width: 320px) {
	.number {
		padding: 10px;
	}
	.subtitle {
		margin-left: 0px;
		font-size: 20px;
		line-height: 1.2;
	}
	.main-descr {
    max-width: 100%;
    margin: 0 auto;}

	.condition-item {
    margin-top: 0px;
	}
	.app-link{
		font-size: 26px;
	}
	.condition-descr{
		margin-left: 20px;
		text-align: start;
	}
	span.span-number {
    padding: 10px;
    background-color: var(--color5);
    border-radius: 5px;
    margin-right: 10px;
}
.condition-link {	
	max-width: 100%;	
	font-size: 26px;
}
.form-container {
	width: 90%;
	padding: 10px;
}

.form-container input[type=text], .form-container textarea {
	width: 100%;
	padding: 8px;
	font-size: 14px;
}

.form-container button[type=submit] {
	padding: 10px 16px;
	font-size: 14px;
}

.cancel {
	padding: 10px 16px;
	font-size: 14px;
}

}
